.host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    /* height: 180px; */
    background-color: #f88080;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .image {
    flex: 0 0 auto;
    width: 160px;
    height: 160px;
    vertical-align: middle;
    border-radius: 50%;
  }
  
  .container {
    box-sizing: border-box;
    padding: 20px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container>.name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    margin-bottom: 5px;
  }
  
  .container>.email {
    font-size: 12px;
    opacity: 0.75;
    line-height: 1;
    margin: 0;
    margin-bottom: 15px;
  }

  .container>.address {
    font-size: 12px;
    opacity: 0.75;
    line-height: 1;
    margin: 0;
    margin-bottom: 15px;
  }
  
  .container>.button {
    padding: 10px 25px;
    font-size: 12px;
    border-radius: 5px;
    text-transform: uppercase;
  }