<div class="pf-ProfileAnchor-container">
    <div class="sr-anchor-scrollContainer">
        <div class="arrowButton l">
            <img class="leftArrow" src="https://momoko8443.github.io/sidamojs/dist/assets/arrow/left_arrow.svg" alt=""/>
        </div>
        <div class="arrowButton r">
            <img class="rightArrow" src="https://momoko8443.github.io/sidamojs/dist/assets/arrow/right_arrow.svg" alt=""/>
        </div>
        <div id="sr-anchor-scrollContainerWrapper" class="sr-anchor-scrollContainer_wrapper scroll">
            <serai-navigator id="navigator"></serai-navigator>
        </div>
    </div>
</div>